.btn-t1 {
    --btn-t1-pyx: 0.313rem 0.75rem;
    --btn-t1-br: 1.25rem;
}

.btn-t2 {
    --btn-t2-pyx: 0.5rem;
    --btn-t2-br: 0.625rem;
}

.btn-t3 {
    --btn-t3-pyx: 0.625rem;
    --btn-t3-br: 0.625rem;
}