.mn-t1 {
    --mn-t1-pyx: 0.625rem;
    --mn-1-vis-x: 6.25rem;
    --mn-t1-b: 0.0625rem solid #AEAEAE10;
    --mn-t1-br: 0.625rem;
    --mn-t1-gp: 0.9375rem;
    --mn-t1-bg: transparent;
    --mn-t1-bf_blr: 1rem;
}

.mn-t1 > .mn-visual {
    --mn-t1-vis-br: calc(var(--mn-t1-br) / 2);
    --mn-t1-vis-bg: #AEAEAE10;
}