.main {
    --main-fs: 1.563rem;
    --main-ls: 0.313rem;
}

.nv-t1 {
    --nv-t1-fs: 0.938rem;
    --nv-t1-fw: 400;
}

.sub-t1 {
    --sub-t1-fs: 1.063rem;
    --sub-t1-fw: 600;
}

.sub-t2 {
    --sub-t2-fs: 0.813rem;
}

.ic-t1 {
    --ic-t1-fs: 0.875rem;
}