@import url(../css/exceptions/ex-container.css);
@import url(../css/global/gl-container.css);

.container,
.s-container {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;

    height: 100dvh;
    width: 100dvw;
}

.s-container {
    flex-direction: column;

    height: 100%;
    width: 100%;

    font-family: 'Source Code Pro', 'Optima', sans-serif;

    background-color: var(--primary-bg-clr);
}