.sphere {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;

    height: 100%;
    width: 100%;

    overflow: hidden;
}

.sphere canvas {
    display: flex;

    height: 100%;
    width: 100%;

    outline: none;

    filter: drop-shadow(0 0 0.625rem rgba(238, 238, 238, 0.3));
}