@import url(../css/exceptions/ex-menus.css);
@import url(../css/global/gl-menus.css);

menu {
    transition: 0.5s ease;
}

.mn-t1 {
    display: flex;

    padding: var(--mn-t1-pyx);

    height: fit-content;
    width: 100%;

    border: var(--mn-t1-b);
    border-radius: var(--mn-t1-br);

    gap: var(--mn-t1-gp);

    opacity: 0;

    background-color: var(--mn-t1-bg);
    backdrop-filter: blur(var(--mn-t1-bf_blr));
}

.mn-t1 > .mn-visual {
    display: flex;

    height: var(--mn-1-vis-x);
    width: 100%;

    border: var(--mn-t1-vis-b);
    border-radius: var(--mn-t1-vis-br);

    background-color: var(--mn-t1-vis-bg);
}

.mn-t1 > .mn-visual img {
    height: 100%;
    width: 100%;

    border-radius: var(--mn-t1-vis-br);

    object-fit: cover;
}

.mn-t1 > .mn-options {
    display: flex;

    width: 100%;
}