@import url(../css/exceptions/ex-text.css);
@import url(../css/global/gl-text.css);

[class ^= "txt"] {
    transition: 0.5s ease;
}

[class ~= "-b"] {
    color: #FFFFFF;
}

[class ~= "-d"] {
    color: #000000;
}

[class ~= "-f"] {
    color: #7E7E7E;
}

.main {
    font-family: 'Optima', sans-serif;
    font-size: var(--main-fs);

    letter-spacing: var(--main-ls);
}

.nv-t1 {
    font-size: var(--nv-t1-fs);
    font-weight: var(--nv-t1-fw);
}

.sub-t1 {
    font-size: var(--sub-t1-fs);
    font-weight: var(--sub-t1-fw);
}

.sub-t2 {
    font-size: var(--sub-t2-fs);
}

.sm-t1 {
    font-family: 'Satoshi', sans-serif;
    font-size: var(--sm-t1-fs);
    font-weight: var(--sm-t1-fw);
}

.ic-t1 {
    font-size: var(--ic-t1-fs);
}