.hr-fcl-contents {
    --hr-fcl-conts-pyx: 5rem 1rem;
}

.hr-nav {
    --hr-nav-gap: 0.313rem;
}

.sc-1 {
    --sc-1-gap: 0.625rem;
}

.sc-2 {
    --sc-2-gap: 20px;
}

.hr-scl-contents {
    --hr-scl-conts-gap: 0.3125rem;
}

.hr-scl-content {
    --hr-scl-cont-pyx: 0.625rem;
    --hr-scl-cont-br: 0.625rem;
    --hr-scl-cont-gap: 0.3125rem;
}