@import url(/root/components/components.css);
@import url(/root/modules/modules.css);

:root {
    --std-pyx: 5%;
    --primary-bg-clr: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    user-select: none;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;

    background-color: var(--primary-bg-clr);
}

a {
    display: flex;

    text-decoration: none;
}