* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  user-select: none;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

a {
  display: flex;

  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--cont-pyx);

  height: 100dvh;
  width: 100dvw;

  background-color: #000000;
}